[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
environs = "*"
Flask = "*"
Flask-Admin = "*"
Flask-Alembic = "*"
Flask-Bcrypt = "*"
Flask-Caching = "*"
Flask-DebugToolbar = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
gunicorn = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
psycopg2 = "*"
redis = "*"
six = "*"
SQLAlchemy = "*"
tzlocal = "*"
Werkzeug = "*"
WTForms = "*"

[dev-packages]
autopep8 = "*"
factory-boy = "*"
flake8 = "*"
flake8-bandit = "*"
flake8-blind-except = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-debugger = "*"
flake8-docstrings = "*"
flake8-isort = "*"
flake8-quotes = "*"
ipdb = "*"
ipython = "*"
isort = "*"
jedi = "*"
pep8-naming = "*"
psycopg2-binary = "*"
pytest = "*"
WebTest = "*"

[requires]
python_version = "3.6"
